body {
  background-color: #fff;
}

ol, ul {
  padding-left: 20px;
  list-style:none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  padding-top: 10px;
  text-align: center;
  width: 100px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-info {
  display: flex;
}
#cap {
  display: none;
}
.game-cap {
  font-size: 35px;
  text-align: center;
  position: absolute;
  margin: auto;
  margin-top: 103px;
  padding: 43px;
  background:rgba(255,0,0,0.3);
  border-radius: 15px;
  color: white;
  width: 211px;
}
.highlight-color {
  background: #90ee90;
}
.highlight-colorD {
  background: #1e90ff;
}
.button {
  display: inline-block;
  border-radius: 5px;
  font-size: 12pt;
  text-align: center;
  cursor: pointer;
  padding: 15px;
  background: #f4a460;
  color: #ffffff;
  line-height: 1em;
  border: none;
}
.history {
  display: inline-block;
  border-radius: 5px;
  font-size: 12pt;
  text-align: center;
  cursor: pointer;
  padding: 15px 40px;
  background: #ff8c00;
  color: #ffffff;
  line-height: 1em;
  border: none;
}

#overlay{
  position: fixed;
  top:0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  background: rgba(0,0,0,0.6);
  transition: all 0.5s ease-out;
}
#overlay.overlay-on{
  visibility: visible;
  opacity: 1;
}

#box_wrap{  
  display: flex;
  justify-content: center;
  align-items: center;
}

#message_box{
  margin-top: 103px;
  padding: 43px;
  background:rgba(255,0,0,0.6);
  border-radius: 15px;
  color: white;
  width: 211px;
  text-align: center;
}

#tittle {
  display: block;
  width: 100vw;
  height: 100%;
  position: absolute;
  background: aquamarine;
  z-index: 100;
  padding-top: 200px;
  text-align: center;
}

#tittle .progress{
  animation: flash 1s linear infinite;
  margin:20px;
  color: #1e90ff;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}