body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contents {
  margin-top: 56px;
}
.MuiDrawer-paper {
  background-color: #424242!important;
}

.formContainer {
  padding: 20px 20px 0px 20px;
  max-width: 700px;
  margin: auto;
}

.MyAccount {
  padding: 20px;
}

.footer .flex {
  display: flex;
  justify-content: space-between;
}

.footer .fnavName {
  text-align: center;
  font-size: xx-small;
}

.MuiList-padding {
  padding-top: 5px!important;
}