body {
  margin: 0;
  font-family: 'Noto Serif','Shippori Mincho B1', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contents {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  background-color: #fff;
}

.formContainer {
  padding: 20px 20px 0px 20px;
  max-width: 700px;
  margin: auto;
}
.MuiInputBase-input {
  padding: 6px 5px 7px!important;
}
.MyAccount {
  padding: 20px;
}

/* Material-UI */
.MuiDrawer-paper {
  background-color: #1a2930!important;
}

.MuiList-padding {
  padding-top: 5px!important;
  padding-bottom: 0px!important;
}

.MuiAppBar-colorPrimary {
  color: #0a1612!important;
  background: none!important;
}

.MuiPaper-elevation4 {
  box-shadow: none!important;
}

.MuiButton-containedPrimary {
  background-color: #1a2930!important;
}

.MuiMenuItem-root {
  font-family: 'Noto Serif','Shippori Mincho B1', serif!important;
}
.MuiButton-root {
  font-family: 'Noto Serif','Shippori Mincho B1', serif!important;
  text-transform: none!important;
}
.Mui-disabled {
  color: #c5c1c0!important;
}

/* FOOTER */
.footer .flex {
  display: flex;
  justify-content: space-between;
}

.footer .fnavName {
  text-align: center;
  font-size: 12px;
  color: #0a1612;
  font-style: italic;
  background: linear-gradient(transparent 80%, #f7ce3e 60%);
  margin-top: -2px;
  transform: rotate(-5deg);
}

.makeStyles-root-8 {
  position: fixed!important;
  bottom: 0!important;
  background-color: #c5c1c0!important;
  color: #0a1612!important;
  height: 70px!important;
  box-shadow: 1px 1px 2px 2px #c5c1c0;
}
.makeStyles-root-6 {
  position: fixed!important;
  bottom: 0!important;
  background-color: #c5c1c0!important;
  color: #0a1612!important;
  height: 70px!important;
}
.makeStyles-flistItem-12 {
  color: #0a1612!important;
}
.makeStyles-flistItem-10 {
  color: #0a1612!important;
}
/* MODAL */
.makeStyles-paper-7 {
  border: 1px solid #0a1612!important;
  padding:  0px!important;
  width: 280px;
}